:root {
    /* ## Colors

    ### Primary
    
    #### Text */
    
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    
    /* #### Gradient */
    
    /* Background gradient: */
    
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    
    /* ### Neutral
    
    #### Text */
    
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    
    /* #### Dividers */
    
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Overpass', sans-serif;
    color: var(--Very-dark-desaturated-blue);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: contain;

    padding: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
   
    max-width: 76.666rem;
    height: 42.5rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 23px 41px -2px var(--Dark-grayish-blue);
}

.image {
    width: 50%;
    height: 100%;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: bottom -144px right 46px; 
    background-repeat: no-repeat;
    overflow: hidden;
    position: static;

}

.firstImg{
    margin-top: 70px;
    margin-left: -85px;
}

.secondImg{
    margin-left: -480px;
    position: absolute;
    margin-top: 205px;
    z-index: 10;
}

.hide {
    display: none;
}

.faq {
    width: 50%;
    height: 100%;
    margin-left: 40px;
}

h1 {
    font-size: 3rem;
    margin-top: 60px;
    margin-bottom: 25px;
}


h2 {
    width: 78%;
    padding: 16px 0;
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid var(--Light-grayish-blue);
    color: var(--Very-dark-grayish-blue);

    display: flex;
    justify-content: space-between;
  
}

h2:hover {
    color: var(--Soft-red);
    cursor: pointer;
}

span{
    margin-right: 10px;

}

.hidden {
    display: none;
}

.active {
    display: block;
    color: var(--Dark-grayish-blue);
    width: 79%;
    border-bottom: 1px solid var(--Light-grayish-blue);
    line-height: 1.5rem;
    padding-bottom: 15px;
    margin-top: -5px;
}

.active:last-child {
    border: none;
}

.bold {
    color: var(--Very-dark-desaturated-blue);
    border-bottom: none;
    font-weight: 700;
    font-size: 1.3rem;
}

h2.bold:hover{
    color: var(--Very-dark-desaturated-blue);
} 

.arrow {
    transform: rotate(-180deg);
}

footer {
   margin-top: 10px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media(max-width: 915px){
    body {
        min-width: 375px;
        height: auto;
    }

    main {
        width: 100%;
        min-width: 328px;
        height: auto;
        flex-direction: column;
        margin-top: 100px;
    }

    .image {
        width: 238px;
        background-image: url("../images/bg-pattern-mobile.svg");
        background-position: bottom 30px right 0; 
        z-index: 10;
        background-repeat: no-repeat;
        overflow: visible;
    
    }

    .firstImg{
       width: inherit;
       display: flex;
       justify-content: center;
       height: 50vh;
       margin: 0 auto;
       margin-top: -170px;
    }
    
    .hide {
        display: block;
    }
    .visible {
        display: none;
    }

    .faq {
        width: 100%;
        min-height: 400px;
        margin-left: 0px;
        margin-top: -0px;
    }

    h1 {
        margin: 0;
        text-align: center;
    }

    h2 {
        width: 90%;
        padding: 16px 0;
        font-size: 1.1rem;
        font-weight: 400;
        border-bottom: 1px solid var(--Light-grayish-blue);
        color: var(--Very-dark-grayish-blue);
    
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .active {
        width: 90%;
        line-height: 1.7rem;
        padding-bottom: 15px;
        margin: 0 auto;
    }

    .bold {
        font-size: 1.1rem;
        padding-bottom: 10px;
        padding-top: 17px;
    }
}